{% extends 'base.html'%}
{%block title%}설문관리{%endblock%}
{%block content%}
<h2>polls/vote.html</h2>
<p/>
<form method="post" action="{% url 'polls:list' %}">
    {% for q in qss %}
    <div>{{q.question_text}}</div>
    <p/>
    <div class="list-group">
        {% for c in q.choice_set.all %}
        <li class="list-group-item"><input type="radio" name="{{id}}ch"> {{c.choice_text}}</li>
        {% endfor %}
    </div>
    {% endfor %}
    <div>
        <button><a href="{% url 'polls:list' %}">Submit</a></button>
        <a href="{% url 'polls:list' %}">Find out survey result</a>
    </div>
</form>
{%endblock%}