{% extends 'base.html' %}
{% block title %}Board:View{% endblock %}
{% block content %}

<div class="container">
    <h2>Board View</h2>
    <div class="form-group row">
        <div class="col-md-1">
            <label for="id">글번호:</label>
            <input type="text" class="form-control" id="id" name="id" value="{{ b.id }}"/>
        </div>
    </div>
    <div class="from-gruop row">
        <div class="col-md-2">
            <label for="writer">작성자:</label>
            <input type="text" class="form-control" id="writer" name="writer" value="{{ b.writer }}"/>
        </div>
    </div>
    <div class="form-group">
        <label for="title">제목:</label>
        <input type="text" class="form-control" id="title" name="title" value="{{ b.title }}"/>
    </div>
    <div class="form-group">
        <label for="content">내용:</label>
        <textarea class="form-control" id="content" name="content" rows="10" cols="30">{{ b.content }}</textarea>
    </div>
    <div>
        <a href="{% url 'board:board_list' %}">
            <button>목록</button>
        </a>
        <a href="#">
            <button>수정</button>
        </a>
        <a href="#">
            <button>삭제</button>
        </a>
    </div>
</div>
{% endblock%}
